{% extends 'base.html' %}

{% block main %}

<div class="cardhold">
        <div class="card">
            <img src="{{ url_for('get_image', filename=property.filename) }}" /> 
            <div id="info">
                <h3>{{property.title}}</h3>
                <div id="first">
                    <div id="price"><p>${{property.price}}</p></div>
                    <div id="type"><p>{{property.type}}</p></div>
                 </div>
                <p>{{property.desc}}</p>

                <div id="sec">
                    <p><i class="fa fa-bed"></i> {{property.num_bed}} Bedrooms</p>
                    <p><i class="fa fa-shower"></i> {{property.num_bath}} Bathrooms</p>
                </div>

                <p><i class="fa fa-location-arrow"></i> {{property.location}}</p>
                <div id="third">
                <button id="email">Email Realtor</button>
            </div>
            </div>
        </div>
    </div>
{% endblock %}