{% extends 'base.html' %}

{% block main %}

    <ul class="Images">
        <div class="board">
        <li>
            <img src="{{ url_for('get_image', filename=property.filename) }}" /> 
            <h3>{{property.title}}</h3>
            <h3>${{property.price}}</h3>
            <h3>{{property.type}}</h3>
            <h3>{{property.desc}}</h3>
            <h3>{{property.num_bed}}</h3>
            <h3>{{property.num_bath}}</h3>
            <h3>{{property.location}}</h3>
            <button>Email Realtor</button>
        </li>
        </div>
    </ul>

{% endblock %}